@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 68% 100%;
    --foreground: 280 69% 0%;
    --muted: 250 29% 95%;
    --muted-foreground: 250 7% 36%;
    --popover: 280 68% 100%;
    --popover-foreground: 280 69% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 280 8% 94%;
    --input: 280 8% 94%;
    --primary: 278.82 11.89% 71.96%;
    --primary-foreground: 280 18% 30%;
    --secondary: 250 18% 90%;
    --secondary-foreground: 250 18% 30%;
    --accent: 310 18% 90%;
    --accent-foreground: 310 18% 30%;
    --destructive: 12 85% 28%;
    --destructive-foreground: 12 85% 88%;
    --ring: 278.82 11.89% 71.96%;
    --chart-1: 280 18% 90%;
    --chart-2: 250 49.28% 82.56%;
    --chart-3: 310 46.99% 81.86%;
    --chart-4: 250 50.07% 88.44%;
    --chart-5: 280 37.89% 85.76%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 224 14% 16%;
    --foreground: 278 13% 83%;
    --muted: 224 12% 20%;
    --muted-foreground: 224 12% 70%;
    --popover: 224 14% 13%;
    --popover-foreground: 278 13% 93%;
    --card: 224 14% 14%;
    --card-foreground: 278 13% 88%;
    --border: 224 4% 21%;
    --input: 224 4% 24%;
    --primary: 279 12% 72%;
    --primary-foreground: 279 12% 12%;
    --secondary: 279 2% 25%;
    --secondary-foreground: 279 2% 85%;
    --accent: 224 14% 31%;
    --accent-foreground: 224 14% 91%;
    --destructive: 2 81% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 279 12% 72%;
    --chart-1: 279 12% 72%;
    --chart-2: 279 2% 25%;
    --chart-3: 224 14% 31%;
    --chart-4: 279 2% 28%;
    --chart-5: 279 15% 72%;
  }
}
